/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
body,html {
width: 100%;
}



body { /* General style rules for the body section */
	background-color: black;
	color:Lightblue;
	text-align: center;
	font-family: cursive;
}



h1 { /* Matches elements with h3 tag */
	color:  191970;
	text-decoration: underline;
}
a {
	color: #00FFFF;
}

/* visited link */
  a:visited {
      color: #00FFFF;
    }

/* mouse over link */
  a:hover {
      color: white;
    }

  /* selected link */
    a:active {
      color: #purple;
    }
#div1 { /* Matches element with id=SimpleDiv */
	background-color: gray;

	color: orange;


	border-style: solid groove;
  border-width: 5px;
	border-color: #008080;
	margin:5%;
	padding: 6px;
}

#div2 {
	background-color: #CC1A54;
	margin:5%;
	padding: 6px;
	float: left;
	width: 20%;
}

#div3{
	background-color: #014DFE;
	margin:5%;
	padding: 6px;
	float: right;
	width: 20%;
}
#div5{
	background-color: green;
	margin:5%;
	padding: 6px;
	float:right;
	width: 25%;

}
#div6{
	background-color: black;
	margin-right: 450px;
	margin-top: 200px;
	padding: 6px;
	width: 25%;
	float:right;

}
#div4{
	background-color:#D307FF;
	margin-left:50px;
	padding: 6px;
	clear: left;
	width: 25%;


}
